.post-container {
    font-family: 'Georgia', sans-serif;
}

.post-container img {
    width: 100%;
    padding: 3px;
    background-color: #00a693;
}

.post-container h1,
.post-container h2,
.post-container h3,
.post-container h4,
.post-container h5,
.post-container h6 {
    padding-bottom: 20px;
}

.post-container img + em {
    display: block;
    font-size: 0.7em;
    text-align: center;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.post-container img + em a {
    target-new: tab !important;
}

.post-container blockquote {
    font-style: italic;
    margin: 10px 10px 16px;
    padding: 10px   ;
    background-color: #def0ec;
    border-left: solid #00a693;
}

.post-container blockquote p {
    padding: 0;
    margin: 0;
}
